{% extends "layout.html" %}

{% block content %}
<style>
    /*.encuesta{
        display:none;
    }*/
</style>
<div class="row" style="margin-top: 20px;">
    <div class="encuesta">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" name="Nombre" placeholder="Ingrese el Nombre">
            </div>
            <!--<div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>-->
            <button type="button" class="btn btn-primary" id="BtnGuardarEncuenta">Guardar</button>
        </form>
    </div>
    <div class="preguntas hide">
        <!--<div class="form-group">
            <label for="exampleInputEmail1">Pregunta 1</label>
            <input type="text" class="form-control" name="NombreP" placeholder="Ingrese la pregunta">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Respuesta 1</label>
            <input type="text" class="form-control" name="RespuestaP" placeholder="Ingrese la respuesta">
        </div>-->
        <div id="content"></div>
        <button type="button" class="btn btn-primary" id="BtnGuardarPregunta">Guardar</button>
    </div>
</div>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script>
    var Id_Encuesta = 0, Cant_Preguntas = 0;
    $(document).ready(function () {               
        $("#BtnGuardarEncuenta").click(function () {
            //
            $.post('/api/SaveEncuenta', {
                Nombre: $('input[name="Nombre"]').val(),
            }, function (data) {
                if (data.result.Exito) {
                    $(".encuesta").hide();
                    alert(data.result.Mensaje);
                    $(".preguntas").css('display', 'block !important');
                    $(".preguntas").removeClass('hide');
                    Id_Encuesta = data.result.Valor;
                    var person = prompt("Por favor ingrese la cantidad de preguntas para la encuesta", "");
                    if (person != null) {
                        Cant_Preguntas = parseInt(person);
                    } else
                        Cant_Preguntas = 1;
                    Preguntas_Dinamicas();
                }
                else {
                    //mostrar error
                }
            });
        });
        $("#BtnGuardarPregunta").click(function () {
            var pre = [], res=[];
            for (var i = 0; i < Cant_Preguntas; i++) {
                pre.push($("#Nombre" + (i + 1)).val());
                res.push($("#Respuesta" + (i + 1)).val());
            }
            $.post('/api/SavePregunta', {
                Nombre: $("#Nombre1").val(),
                Respuesta: $("#Respuesta1").val(),
                Id: Id_Encuesta,
                Preguntas: JSON.stringify(pre),
                Respuestas: JSON.stringify(res),
            }, function (data) {
                if (data.result.Exito) {
                    $(".preguntas").hide();
                    alert(data.result.Mensaje);
                    //$(".preguntas").css('display', 'block !important');
                    //$(".preguntas").removeClass('hide');
                    //Id_Encuesta = data.result.Valor;
                    location.href = '/'
                }
                else {
                    //mostrar error
                }
            });
        });
    });

    function Preguntas_Dinamicas() {
        var innerhtml = '';
        for (var i = 0; i < Cant_Preguntas; i++) {
            innerhtml += " <div class='form-group'>"
                + "     <label>Pregunta " + (i + 1) + "</label>"
                + "     <input type='text' class='form-control' id='Nombre" + (i + 1) + "' placeholder='Ingrese la pregunta " + (i + 1) + "'>"
                + " </div>"
                + " <div class='form-group'>"
                + "     <label>Respuesta " + (i + 1) + "</label>"
                + "     <input type='text' class='form-control' id='Respuesta" + (i + 1) + "' placeholder='Ingrese la respuesta " + (i + 1) + "'>"
                + " </div>";
        }
        $("#content").html(innerhtml);
    }
</script>
    {% endblock %}
