{% extends "layout.html" %}

{% block content %}

<div class="row" style="margin-top: 20px;">
    <div class="well clearfix">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Conversor de Monedas con API Externa</legend>
            <form class="form-inline">
                <div class="form-group col-sm-3">
                    <div class="input-group col-sm-12">
                        <span class="input-group-addon">$</span>
                        <input type="number" value="1" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="txtAmount" />
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="exampleInput2">Monedas&nbsp;</label>
                    <select class="form-control" style="width:200px;" id="DrpMoneda">
                        <option value="" selected>Seleccionar Moneda</option>
                        {% for item in Lista %}
                        <option value="{{item.symbol}}">{{item.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" class="btn btn-primary" id="BtnConvert">Convertir</button>
            </form>
        </fieldset>
    </div>
    <div class="well contenedor hide">

    </div>
</div>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#BtnConvert").click(function () {
            if ($("#txtAmount").val() != '' && $("#DrpMoneda").val() != '') {
                $.post('/api/ConvertCurrency', {
                    Symbol: $("#DrpMoneda").val(),
                    Amount: $("#txtAmount").val()
                }, function (data) {
                    if (data.result.Exito) {
                        Html(data.result.Valor.total, $("#txtAmount").val(), $("#DrpMoneda").val());
                    }
                    else {
                        alert('Ah ocurrido un error: ' + data.Mensaje);
                    }
                });
            } else {
                alert('Los Campos son Obligatorios.');
            }
        });
        function Html(Total, Monto, Simbolo) {
            var html = '<div>'
                + '<ul>'
                + '    <li><strong>Monto :</strong> ' + Monto + '</li>'
                + '    <li><strong>Moneda Origen :</strong> ' + Simbolo.split('/')[0] + '</li>'
                + '    <li><strong>Moneda Destino :</strong> ' + Simbolo.split('/')[1] + '</li>'
                + '</ul>'
                + '<h3>Convertido de ' + Simbolo.split('/')[0] + ' a ' + Simbolo.split('/')[1] + '</h3>'
                + '<div class="alert alert-success">' + Total + ' ' + Simbolo.split('/')[1] + '</div>'
                + '</div>';
            $(".contenedor").html(html);
            $(".contenedor").removeClass('hide');
        }
    });
</script>
    {% endblock %}
