{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Agregar Evaluacion Empleado</h1>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
        <div class="form-group">
            <label>Encuesta</label>
            <select class="custom-select" id="DrpEncuentas">
                <option value="" selected>Seleccionar Encuesta</option>
                {% for item in DataEn %}
                <option value="{{item[0]}}">{{item[1]}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Encuesta</label>
            <select class="custom-select" id="DrpEmpleado" disabled>
                <option value="" selected>Seleccionar Empleado</option>
                {% for item in DataEm %}
                <option value="{{item[0]}}">{{item[2]}} - {{item[1]}}</option>
                {% endfor %}
            </select>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-12 hide" id="TableRes">
        <table class="table" id="TableResult">
            <thead>
                <tr>
                    <th scope="col">Pregunta</th>
                    <th scope="col">Respuesta</th>
                </tr>
            </thead>
            <tbody id="contTbody"></tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 hide" id="TableRes2">
        <button type="button" class="btn btn-primary" id="BtnGuardar" style="float:right;">
            <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
        </button>
    </div>
</div>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        var Id_Encuesta = 0,TotalInd=0;
        $('[data-toggle="tooltip"]').tooltip();
        $("#DrpEncuentas").change(function () {
            if (this.value !== "") {
                $("#DrpEmpleado").removeAttr('disabled');
            } else {
                $("#DrpEmpleado").attr('disabled', 'disabled');
            }
        });
        $("#DrpEmpleado").change(function () {
            if (this.value !== "") {
                var valor = this.value;
                $.post('/api/ShowEncuesta', {
                    Id: $("#DrpEncuentas").val()
                }, function (data) {
                    if (data.result.Exito) {
                        var html = "";
                        Id_Encuesta = 0;
                        //console.log(data);
                        for (var i = 0; i < data.result.Valor.length; i++) {
                            html += "<tr>"
                                + "    <td>" + data.result.Valor[i][2] + "</td>"
                                + "    <td><input type='text' class='form-control' id='Respuesta" + (i + 1) + "' placeholder='Ingrese la respuesta " + (i + 1) + "' resp='" + data.result.Valor[i][3].toLocaleLowerCase() + "' idPreg='" + data.result.Valor[i][0] + "'></td>"
                                + "</tr>";
                            TotalInd = i;
                        }
                        TotalInd++;
                        $("#contTbody").html(html);
                        $("#TableRes").removeClass('hide');
                        $("#TableRes2").removeClass('hide');
                    }
                    else {
                        //mostrar error
                    }
                });
            }
        });
        $("#BtnGuardar").click(function () {
            var ban = true;
            $("#TableResult").find('tr').each(function () {
                var textval = $(this).find("td").eq(1).find(":text");                               
                if (textval !== undefined && textval !== null && $(textval)[0] !== undefined && $(textval)[0]!==null) {
                    //console.log($(textval)[0]);
                    var data = {
                        Id_Empleado: $("#DrpEmpleado").val(),
                        Id_Encuenta: $("#DrpEncuentas").val(),
                        Id_Pregunta: $($(textval)[0]).attr('idpreg'),
                        Respuesta: $($(textval)[0]).val().toLocaleLowerCase(),
                        Peso: ($($(textval)[0]).val().toLocaleLowerCase() == $($(textval)[0]).attr('resp')) ? (100 / TotalInd):0
                    }
                    $.post('/api/AddEvaluation', data, function (data) {
                        if (!data.result.Exito) {
                            alert("Ah ocurrido un error agregando la evaluacion");
                            ban = false;
                        }                        
                    });
                }
            }); 
            if (ban) {
                $("#contTbody").html('');
                $("#TableRes").addClass('hide');
                $("#TableRes2").addClass('hide');
                $("#DrpEmpleado").val('');
                $("#DrpEncuentas").val('');
                alert("Evaluacion agregada con exito.");
            }
        });
    });
</script>
    {% endblock %}
