﻿{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Listado de Empleados</h1>
    <a href="/about" class=""></a>
    <button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#exampleModal">
        <i class="glyphicon glyphicon-plus"></i> Agregar Empleado
    </button>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="encuesta">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Sueldo</th>
                    <th scope="col">Fecha de Ingreso</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>                
                {% for item in Data %}
                <tr>
                    <th>{{item[0]}}</th>
                    <td>{{item[2]}}</td>
                    <td>{{item[1]}}</td>
                    <td>$ {{item[3]}}</td>
                    <td>{{item[5]}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary editEmpleado" data-toggle="tooltip" data-placement="top" title="Editar Empleado" IdEmpleado="{{item[0]}}">
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;
                        </button>
                        <button type="button" class="btn btn-xs btn-danger BtnDelete" data-toggle="tooltip" data-placement="top" title="Eliminar Empleado" IdEmpleado="{{item[0]}}">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Empleado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese el Nombre">
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <input type="text" class="form-control" id="txtApellido" placeholder="Ingrese el Apellido">
                    </div>
                    <div class="form-group">
                        <label>Sueldo</label>
                        <input type="text" class="form-control" id="txtSueldo" placeholder="Ingrese el Sueldo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="BtnUpdate">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        var Id_Empleado = 0;
        $('[data-toggle="tooltip"]').tooltip();
        $(".editEmpleado").click(function () {
            var $row = $(this).closest("tr");            
            Id_Empleado = $(this).attr("IdEmpleado");
            var $row = $(this).closest("tr"),       // Finds the closest row <tr>
                $tds = $row.find("td");             // Finds all children <td> elements
            var i = 0;
            $.each($tds, function () {               // Visits every single <td> element                
                if (i === 0) {
                    $("#txtNombre").val($(this).text());
                }
                if (i === 1) {
                    $("#txtApellido").val($(this).text());
                }
                if (i === 2)
                    $("#txtSueldo").val($(this).text());
                i++;
            });
            $('#exampleModal').modal('show');
        });
        $("#BtnUpdate").click(function () {
            if (Id_Empleado === 0) {
                $.post('/api/AddEmpleado', {
                    Nombre: $('#txtNombre').val(),
                    Apellido: $('#txtApellido').val(),
                    Sueldo: $('#txtSueldo').val().replace('$ ', ""),
                    //Id: Id_Empleado
                }, function (data) {
                    if (data.result.Exito) {
                        $('#exampleModal').modal('hide');
                        alert(data.result.Mensaje);
                        Id_Empleado = 0;
                        location.href = '/Empleados'
                    }
                    else {
                        //mostrar error
                    }
                });
            }
            else {
                $.post('/api/EditEmpleado', {
                    Nombre: $('#txtNombre').val(),
                    Apellido: $('#txtApellido').val(),
                    Sueldo: $('#txtSueldo').val().replace('$ ', ""),
                    Id: Id_Empleado
                }, function (data) {
                    if (data.result.Exito) {
                        $('#exampleModal').modal('hide');
                        alert(data.result.Mensaje);
                        Id_Empleado = 0;
                        location.href = '/Empleados'
                    }
                    else {
                        //mostrar error
                    }
                });
            }            
        });
        $(".BtnDelete").click(function () {                       
            Id_Empleado = $(this).attr("IdEmpleado");
            $.post('/api/DeleteEmpleado', {
                Id: Id_Empleado
            }, function (data) {
                if (data.result.Exito) {
                    $('#exampleModal').modal('hide');
                    alert(data.result.Mensaje);
                    Id_Empleado = 0;
                    location.href = '/Empleados'
                }
                else {
                    //mostrar error
                }
            });
        });
        
    });
</script>
    {% endblock %}
