{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Evaluador Programacion IV</h1>
    <p class="lead">Este es un programa de ultima generacion para evaluar a tus Empleados</p>
    <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Agregar Encuesta </h2>
        <p>
            Aqui podras ver las encuestas realizadas e ingresar nuevas.
        </p>
        <p><a class="btn btn-default" href="/Agregar_Encuestas"><i class="glyphicon glyphicon-plus"></i> Agregar &raquo;</a></p>
        <p><a class="btn btn-default" href="/Ver_Encuestas"><i class="glyphicon glyphicon-th-list"></i> Ver encuestas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Evaluacion de empleados</h2>
        <p>Aqui podras crear nuevas evaluaciones para tus empleados y ver las que ya has realizado.</p>
        <p><a class="btn btn-default" href="/CrearEvaluacion"><i class="glyphicon glyphicon-plus"></i> Crear Evaluacion &raquo;</a></p>
        <p><a class="btn btn-default" href="/VerEvaluacion"><i class="glyphicon glyphicon-th-list"></i>  Ver Evaluaciones &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p>Aqui podras ver el historial de tus empleados y agregar nuevos.</p>
        <p><a class="btn btn-default" href="/Empleados"><i class="glyphicon glyphicon-search"></i> Empleados &raquo;</a></p>
        <!--<p><a class="btn btn-default" href="http://azure.microsoft.com"><i class="glyphicon glyphicon-plus"></i> Agregar Empleados &raquo;</a></p>-->
    </div>
    <div class="col-md-5">
        <h2>Conversor</h2>
        <p>Con esto podras convertir el monto del bono recibido a la moneda local del pais donde se encuentren tus empleados, en caso de tener extensiones en el extranjero</p>
        <p><a class="btn btn-default" href="/Conversor"><i class="glyphicon glyphicon-usd"></i> Conversor &raquo;</a></p>
    </div>
</div>

    {% endblock %}
