{% extends "layout.html" %}

{% block content %}

<div class="row" style="margin-top: 20px;">
    <div class="encuesta">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de la Encuesta</th>
                    <th scope="col">Fecha de Creacion</th>
                    <th scope="col">Opciones</th>

                </tr>
            </thead>
            <tbody>

                {% for item in Data %}
                <tr>
                    <th>{{item[0]}}</th>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Ver Encuesta" IdEncuesta="{{item[0]}}" NombreEncuesta="{{item[1]}}" id="BtnShow">
                            <span class="glyphicon glyphicon-zoom-in"></span>&nbsp;
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Pregunta</th>
                                <th scope="col">Respuesta</th>

                            </tr>
                        </thead>
                        <tbody id="Contenttab"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        var Id_Encuesta = 0;
        $('[data-toggle="tooltip"]').tooltip();
        $("#BtnGuardarEncuenta").click(function () {
            //
            $.post('/api/SaveEncuenta', {
                Nombre: $('input[name="Nombre"]').val(),
            }, function (data) {
                if (data.result.Exito) {
                    $(".encuesta").hide();
                    alert(data.result.Mensaje);
                    $(".preguntas").css('display', 'block !important');
                    $(".preguntas").removeClass('hide');
                    Id_Encuesta = data.result.Valor;
                }
                else {
                    //mostrar error
                }
            });
        });
        $("#BtnGuardarPregunta").click(function () {
            $.post('/api/SavePregunta', {
                Nombre: $('input[name="NombreP"]').val(),
                Respuesta: $('input[name="RespuestaP"]').val(),
                Id: Id_Encuesta
            }, function (data) {
                if (data.result.Exito) {
                    $(".preguntas").hide();
                    alert(data.result.Mensaje);
                    //$(".preguntas").css('display', 'block !important');
                    //$(".preguntas").removeClass('hide');
                    //Id_Encuesta = data.result.Valor;
                    location.href = '/'
                }
                else {
                    //mostrar error
                }
            });
        });
        $("#BtnShow").click(function () {
            Id_Encuesta = $(this).attr("IdEncuesta");
            $("#modLabel").text($(this).attr("NombreEncuesta"));
            $.post('/api/ShowEncuesta', {
                Id: Id_Encuesta
            }, function (data) {
                if (data.result.Exito) {
                    var html = "";
                    Id_Encuesta = 0;
                    console.log(data);
                    for (var i = 0; i < data.result.Valor.length; i++) {
                        html += "<tr>"
                            + "    <td>" + data.result.Valor[i][2] + "</td>"
                            + "    <td>" + data.result.Valor[i][3] + "</td>"             
                            +"</tr>";
                    }                    
                    $("#Contenttab").html(html);
                    $('#exampleModal').modal('show');
                }
                else {
                    //mostrar error
                }
            });
        });
    });
</script>
    {% endblock %}
