﻿{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 style="font-size: 40px;">Historico de Evaluaciones a Empleados</h1>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre Encuesta</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in Data %}
                <tr>
                    <th>{{item[2]}}</th>
                    <td>{{item[1]}}</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary BtnVerEncuesta" data-toggle="tooltip" data-placement="top" title="Ver Resultados" Fecha="{{item[2]}}" IdEncuesta="{{item[0]}}">
                            <span class="glyphicon glyphicon-zoom-in"></span>&nbsp;
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Resultados de la encuesta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -18px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Empleado</th>
                                <th scope="col">Porcentaje Evaluación</th>
                                <th scope="col">Total Bono</th>
                            </tr>
                        </thead>
                        <tbody id="ContTab"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $(".BtnVerEncuesta").click(function () {
            var Id = $(this).attr("IdEncuesta"), Fecha = $(this).attr("Fecha");
            $.post('/api/ShowEvaluacion', {
                Fecha: Fecha,
                Id: Id
            }, function (data) {
                if (data.result.Exito) {
                    DataDinamica(data.result.Valor.length, data.result.Valor);
                    $('#exampleModal').modal('show');
                }
                else {
                    alert("Ah ocurrido un error consultando la información");
                }
            });
        });
    });

    function DataDinamica(Cant, data) {
        var innerhtml = '';
        for (var i = 0; i < Cant; i++) {
            innerhtml += "<tr>"
                + "    <td>" + (data[i][0]) + "</td>"
                + "    <td>" + data[i][1] + " %</td> "
                + "    <td>$ " + ((data[i][1] / 100) * data[i][2]).toFixed(2) + "</td> "
                + "</tr>";
        }
        $("#ContTab").html(innerhtml);
    }
</script>
    {% endblock %}